:host {
  display: block;
}

.ellipses {
  width: 23%;
  margin-top: -270px;
  /* margin-left: -366px; */
}

.container {
  display: flex;
  justify-content: space-between;
  /* margin-top: -60px; */
  margin-top: -600px;
}

.ellipses img {
  width: 28vw;
  margin-left: -55px;
  position: relative;
  top: 28vw;
  z-index: -999;
}

.vettore {
  width: 31%;
  z-index: -2;
  position: relative;
  top: 4vw;
}

.line {
  position: relative;
  top: -29vw;
  margin-left: 52px;
  z-index: -1;
  max-height: 250px;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: -340px;
}

h2 {
  color: #02a4e3;
  background: white;
  display: initial;
  padding: 3px;
  text-align: center;
  font-size: 2.7rem;
}

h2 b {
  color: #02467c;
}
