:host {
  display: block;
}

.ellipses {
  width: 23%;
  margin-top: -70px;
  /* margin-left: -366px; */
}

.container {
  display: flex;
  justify-content: space-between;
  /* margin-top: -60px; */
  margin-top: -700px;
}

.ellipses img {
  width: 28vw;
  margin-left: -55px;
  position: relative;
  top: 28vw;
  z-index: -999;
}

.vettore {
  width: 31%;
  z-index: -2;
  position: relative;
  top: 250px;
}

.line {
  position: relative;
  top: -29vw;
  margin-left: 52px;
  z-index: -1;
  max-height: 250px;
  visibility: hidden;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: -340px;
}
