:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Poppins, Helvetica, sans-serif;
  box-sizing: border-box;
  position: relative;
}
h2 {
  font-size: 41px;
  color: #02467c;
}
.banner {
  width: 600px;
  height: auto;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: -4px 4px 16px rgba(209, 205, 199, 0.49);
  padding: 1rem 3rem;
  margin-bottom: 5rem;
}
.text {
  width: 400px;
}
.quote {
  font-size: 26px;
  color: #02467c;
  font-style: italic;
}
em {
  color: #52c1eb;
}
p {
  font-size: 17px;
  color: #02467c;
}
.banner img {
  position: absolute;
  right: -150px;
  bottom: -50px;
}
.stampa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stampa * {
  margin: 2rem;
  margin-bottom: 5rem;
}
.background-img {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
